<head>
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <div class="microsoft container">
            <h2 class="marquee">Follow us on Instagram @lessthanze.ro<br>
            Find all of our shows at https://mixcloud.com/less-than-zero<br>
            Recorded live on Thursday 7pm until 9pm<br>
            Listen to our Mixtapes on Soundcloud https://soundcloud.com/less-than-zero-mixtape<br>
            NOW STREAMING ON TWITCH https://twitch.tv/lessthanzerolive</h2>
    </div>
    <div id="logo_container">
        <img id="logo" src="{{ url_for('static', filename='logo_original.png') }}" width="300px" height="300px"></img>
        <h2 id="follower_count"></h2>
    </div>
    <div id="album_art">
    </div>
    <div id="track_info">
      <marquee>
        <div id="song_info"></div>
      </marquee>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
      var socket = io();
      socket.on('followers',function(data){
        $("#follower_count").html(data);
      })
      socket.on('song',function(data){
        if (document.getElementById("song_info").innerHTML != data['html']) {
          document.getElementById("song_info").innerHTML = data['html'];
        };
        if ($("#album_art").html() != data['image']){
          $("#album_art").html(data['image']);
        };
      })
      socket.on('connect',function(){
          console.log("connecting");
          socket.emit('song');
          socket.emit('followers');
          socket.emit('image');
      });
    </script>
</body>
